html {
    scroll-behavior: smooth;
}

:root{
    --yellow:#ed3237 ;
}
.thumb-height {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
  }

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.custom-image-top{
    height: 150px;
}
.text-truncate-custom {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.btn-primary {
    color: #fff;
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: rgba(84, 91, 98, 0);
    border-color: rgba(78, 85, 91, 0);
}

.btn-secondary.focus,
.btn-secondary:focus {
    color: #fff;
    background-color: var(--yellow);
    border-color: var(--yellow);
    box-shadow: 0 0 0 .2rem rgba(130, 138, 145, .5);
}

.btn-secondary:hover {
    color: #fff;
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.btn-secondary {
    color: #fff;
    background-color: rgba(108, 117, 125, 0);
    border-color: var(--yellow);
}

.hitam {
    color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem var(--yellow);
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,0.7);
  }

.navbar-list {
    padding-left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    color: rgb(255,255,255);
}

.navbar-list h4 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.navbar-list li {
    padding: 1.2rem 0;
    cursor: pointer;
    display: inline-block;
    padding-right: 1.5rem;
   
}

.navbar-list li:last-child {
    padding-right: 0rem;
}

.navbar-list li a {
    font-weight: 700;
    color: rgb(255,255,255);
    text-transform: uppercase;
    padding: 14px 0;
    margin-bottom: 15px;
    position: relative;
    text-decoration: none;
}

.navbar-dropdown {
    position: absolute;
    background: #f1f1f1;
    width: 230px;
    text-align: left;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

.navbar-dropdown ul {
    padding: 0;
}

.navbar-dropdown ul li {
    display: block;
    padding: 0;
}

.navbar-dropdown ul li a {
    font-weight: 500;
    display: block;
    text-transform: capitalize;
    padding: 0.5rem 1.5rem;
    color: #333;
    margin-bottom: 0;
    position: relative;
    text-decoration: none;
}

.navbar-dropdown ul li a:hover {
    background: var(--yellow);
    color: #fff; 
}
.navbar-dropdown ul li a .custom-hover:hover {
    background: var(--yellow);
    color: #fff; 
}


.footer {
    padding-top: 100px;
    color: #a0a0a0;
    font-size: 14px;
}

.footer-top {
    border-bottom: 1px solid #a0a0a0;
    padding: 0rem;
    padding: botom 5rem;
}

.footer-top h3 {
    line-height: 26px;
    margin: 0;
    padding-bottom: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    transition: all .3s ease-in-out;
}

.footer-top ul {
    padding-left: 0;
    list-style: none;
}

.footer-top ul li {
    padding-bottom: 1rem;
}

.footer-top ul li a {
    color: #a0a0a0;
    text-decoration: none;
}

.slider {
    color: rgba(9, 162, 255, 0.85);
    position: relative;
}

.profile {
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.info {
    padding-top: 3rem;
    padding-bottom: 4rem;
    background: #f8f8f8;
}

.kompetensi-keahlian {
    padding-bottom: 6rem;
    padding-top: 5rem;
}

.video {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.fasilitas-sekolah {
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}


.content-article {
    margin: 15px;
    padding: 0px;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: left;
}

.content-article p, .content-article br {
    margin-bottom: 2rem;
}
.content-article h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.content-article h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.content-article h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.content-article ul, ol {
    margin-bottom: 2rem;
}

.content-article li {
    font-size: 1.3rem;
}

.content-article p:last-child {
    margin-bottom: 0rem;
}

.content-article img {
    width: 100%;
    height: auto;
}