.hero-1 {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 0 -110px;
}

.hero-1::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(220, 53, 69, 0.75);
}

.hero-1 .hero-content {
    position: relative;
    z-index: 1;
    bottom: 0px;
}

.hero-1 .hero-content .hero-caption,
.hero-1 .hero-content .hero-img {
    float: none;
    display: inline-block;
    margin: 0 -4px 0 0;
    vertical-align: top;
}

.hero-1 .hero-content .hero-caption {
    padding: 70px 0 0;
}

.hero-1 .hero-content .hero-caption h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: normal;
    margin: 0 0 30px;
    color: #fff;
    text-transform: uppercase;
}

.hero-1 .hero-content .hero-caption p {
    font-size: 14px;
    line-height: 24px;
    margin: 0 2px 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #fff;
}

.action-btn:hover {
    transition: all 0.3s ease-in-out 0s;
}

.hero-1 .hero-content .hero-caption .action-btn {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 20px 50px;
    border-radius: 5px;
    margin: 0 2px;
    text-decoration: none;
}

.hvr-push {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.action-btn.hvr-push {
    z-index: 999;
}

.we-have-faith {
    background: #fff;
    padding: 70px 0;
}

.we-have-faith .section-header h3 {
    color: #303030;
    font-size: 26px;
    line-height: normal;
    text-align: center;
    margin: 0 0 30px;
    text-transform: uppercase;
}

.we-have-faith .section-header p {
    color: #6a6a6a;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    margin: 0;
}

.we-have-faith .section-content>div {
    float: none;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 -4px 0 0;
}

.we-have-faith .section-content h4 {
    margin: 20px 0;
    font-size: 22px;
    color: #303030;
    line-height: normal;
}

.we-have-faith .section-content p {
    font-size: 13px;
    font-weight: 300;
    color: #6a6a6a;
    line-height: 20px;
    padding: 0 10px;
}

.section-header {
    width: 55%;
    margin: 0 auto 70px;
}

.call-to-action {
    background: #fff;
}

.call-to-action-content {
    background: url(../img/call-to-action-bg-new.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 25px 45px;
    position: relative;
    margin: 0 0px;
}

.call-to-action-content>div {
    float: none;
    display: inline-block;
    margin: 0 -4px 0 0;
    vertical-align: middle;
}

.call-to-action-content:before {
    content: "";
    display: block;
    background: rgba(220, 53, 69, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.call-to-action-content img {
    display: inline-block;
    position: relative;
    margin: 0 45px 0 0;
    vertical-align: middle;
}

.call-to-action-content p {
    margin: 0;
    font-size: 23px;
    line-height: 34px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    color: #fff;
    letter-spacing: 1px;
}

.call-to-action-content a {
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: middle;
    padding: 15px 45px;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    background: #f5ab35;
    border-bottom: 4px solid #f58c04;
    border-radius: 5px;
    float: right;
    text-decoration: none;
}

.tulisan-title {
    margin: auto 20px;
}

.ekstrakulikuler-box {
    margin-top: 20px;
    text-align: center;
}

.hero-caption {
    padding: 70px 0 0;
}

.hero-caption h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: normal;
    margin: 0 0 30px;
    color: #fff;
    text-transform: uppercase;
}

.hero-caption .action-btn {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 20px 50px;
    border-radius: 5px;
    margin: 0 2px;
    text-decoration: none;
}

.hero-caption p {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0px 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #fff;
}

.header-sec {
    height: 680px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-sec {
        height: 525px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .header-sec {
        height: 600px;
    }
}

@media (min-width: 1360px) {
    .header-sec {
        height: 660px;
    }
}

@media (min-width: 1400px) {
    .header-sec {
        height: 864px;
    }
}

@media (min-width: 1440px) {
    .header-sec {
        height: 685px;
    }
}

@media (min-width: 1920px) {
    .header-sec {
        height: 920px;
    }
}

.hubungi-kami {
    background: #ed3237;
    color: rgb(255, 255, 255);
    border-radius: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 30px;
}

.fasilitas {
    border: 1px solid #00000040;
    margin-left: 0px;
    padding: 10px;
    border-radius: 7px;
    margin-right: 8px;
    background: #ffffff;
}

.fasilitas-2 {
    border: 1px solid #00000040;
    margin-left: 8px;
    padding: 10px;
    border-radius: 7px;
    background: #ffffff;
}

.achievements {
    background-image: url(../img/counters-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 120px 0;
    position: relative;
    z-index: 1;
}

.achievements:before {
    background: rgba(220, 53, 69, 0.75);
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.achievements .section-header,
.achievements .section-content {
    position: relative;
    text-align: center;
}

.achievements .section-header h2 {
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    font-size: 26px;
}

.achievements .section-content h3 {
    font-size: 40px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 0 0 20px;
    animation: counter;
}

.achievements .section-content p {
    font-size: 18px;
    margin: 0;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.section-title h2 {
    position: relative;
    font-size: 36px;
    font-weight: 800;
    margin: 0;
    color: #2e2e2e;
}

.section-title h2:after {
    content: "";
    display: block;
    margin: 20px auto 15px -40px;
    width: 106px;
    border-bottom: 4px solid #ed3237;
}

.site-header {
    margin: 30px auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}

.site-header>.row>div {
    display: inline-block;
    float: none;
    margin: 0 -4px 0 0;
    vertical-align: middle;
}

.site-header #site-navigation {
    margin: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    border-color: #dee2e6 #dee2e6 #fff;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.wave {
    position: absolute;
    padding-top: 124px;
}

.titlel-fasilitas {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #f5ab35;
}

.title-ekskul {
    font-size: 16px;
    margin-bottom: 0px;
    color: #f15200;
    font-weight: bold;
    text-decoration: none;
}

.link-news {
    text-align: center;
    text-decoration: none;
}

.tes {
    color: #a74343;
    height: 10px;
    width: 10px;
    background-color: aqua;
}

.icon-ppdb {
    position: fixed;
    right: 0px;
    bottom: 75px;
    z-index: 99;
}

.ekstra {
    padding: 10px;
}

.ekstra:hover {
    color: white !important;
    transform: scale(1.1);
}

@media (min-width: 992px) and (max-width: 1199px) {
    .foto-slide {
        height: 525px;
    }
}

@media (min-width: 1200px) {
    .foto-slide {
        width: 100%;
        height: 600px
    }
}

@media (min-width: 1360px) {
    .foto-slide {
        height: auto;
        margin-top: 175px;
    }
}

@media (min-width: 1400px) {
    .foto-slide {
        height: auto;
    }
}

@media (min-width: 1440px) {
    .foto-slide {
        height: auto;
        margin-top: 100px;
    }
}

@media (min-width: 1920px) {
    .foto-slide {
        height: auto;
        margin-top: 196px;
    }
    .gambar-slide {
        margin-top: 39px;
        width: 1234px;
        margin-left: 49px;
    }
    .cegah-corona {
        margin-left: 241px;
    }
    .cegah-corona-row {
        margin-top: 196px;
    }
}

@media (min-width: 1400px) {
    .hero-1 .hero-content {
        position: relative;
        z-index: 1;
        bottom: -181px;
    }
}

@media (min-width: 1440px) {
    .hero-1 .hero-content {
        position: relative;
        z-index: 1;
        bottom: -30px;
    }
}

@media (min-width: 1920px) {
    .hero-1 .hero-content {
        position: relative;
        z-index: 1;
        bottom: 68px;
    }
}

@media (min-width: 1200px) {
    .row-header {
        padding-top: 0px;
    }
}

@media (min-width: 1360px) {
    .row-header {
        padding-top: 0px;
    }
}

@media (min-width: 1400px) {
    .row-header {
        padding-top: 0px;
    }
}

@media (min-width: 1440px) {
    .row-header {
        padding-top: 0px;
    }
}

@media (min-width: 1920px) {
    .row-header {
        padding-top: 212px;
    }
    .img-header {
        width: 500px;
    }
}

.circle {
    display: inline-block;
    margin: 1em;
}

.circles-decimals {
    font-size: .4em;
}

.circles-wrp {
    left: 45px;
    right: 10px;
}

.circles-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    font-size: 24px;
}